# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\20210425\4f466b1a-3b05-401a-b3de-1c0fa0651f23\wyf\project\pycode\ffxiv_sign\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
